<div class="row">
	<div class="col-lg-6">
		<h5>Filters:</h5>
		<div class="row"
			ng-repeat="filter in filters">
			<div class="col-lg-5">
				<input type="text" class="form-control" placeholder="Field"
					ng-hide="schema"
					ng-model="filter.field" ng-change="filterChanged($index, filter)" />

				<span ng-show="schema">
					<select style="width:100%" data-placeholder="Field"
						ui-select2 ng-model="filter.field" ng-change="filterChanged($index, filter)"
						ng-options="field for field in schema.queryable">
						<option value=""></option>
					</select>
				</span>
			</div>
			<div class="col-lg-2">
				<select class="form-control" ng-model="filter.op">
					<option value="=">=</option>
					<option value="!=">!=</option>
					<option value="<">&lt;</option>
					<option value="<=">&lt;=</option>
					<option value=">">&gt;</option>
					<option value=">=">&gt;=</option>
					<option value="LIKE">LIKE</option>
				</select>
			</div>
			<div class="col-lg-5">
				<input type="text" class="form-control" placeholder="Value" ng-model="filter.value"
					ng-change="filterChanged($index, filter)" />
			</div>
		</div>
	</div>
	<div class="col-lg-6">
		<h5>Orders:</h5>
		<div class="row"
			ng-repeat="order in orders">
			<div class="col-lg-8">
				<input type="text" class="form-control" placeholder="Field"
					ng-hide="schema"
					ng-model="order.field" ng-change="orderChanged($index, order)" />

				<span ng-show="schema">
					<select style="width:100%" data-placeholder="Field" ui-select2
						ng-model="order.field" ng-change="orderChanged($index, order)"
						ng-options="field for field in schema.queryable">
						<option value=""></option>
					</select>
				</span>
			</div>
			<div class="col-lg-4">
				<select class="form-control"
					ng-model="order.dir">
					<option value="asc">Ascending</option>
					<option value="desc">Descending</option>
				</select>
			</div>
		</div>
	</div>
</div>
<h5>Fields:</h5>
<div class="row">
	<div class="col-lg-2"
		ng-repeat="field in fields">
		<input type="text" class="form-control" placeholder="Field"
			ng-hide="schema"
			ng-model="field.field" ng-change="fieldChanged($index, field)" />

		<span ng-show="schema">
			<select style="width:100%" data-placeholder="Field" ui-select2
				ng-model="field.field" ng-change="fieldChanged($index, field)"
				ng-options="field for field in schema.queryable">
				<option value=""></option>
			</select>
		</span>
	</div>
</div>