<form class="service well">
	<fieldset>
		<legend>Find:</legend>
		<div class="row">
			<div class="col-lg-12">
				<input type="text" class="form-control" placeholder="ID"
					ng-model="find.data.id" />
			</div>
		</div>
		<service-footer service="find"></service-footer>
	</fieldset>
</form>
<form class="service well">
	<fieldset>
		<legend>All:</legend>
		<service-footer service="all"></service-footer>
	</fieldset>
</form>
<form class="service well">
	<fieldset>
		<legend>Query:</legend>
		<query-builder schema="schema" query="query"></query-builder>
		<service-footer service="query"></service-footer>
	</fieldset>
</form>
<form class="service well">
	<fieldset>
		<legend>First:</legend>
		<query-builder schema="schema" query="first"></query-builder>
		<service-footer service="first"></service-footer>
	</fieldset>
</form>
<form class="service well">
	<fieldset>
		<legend>Insert:</legend>
		<div class="row"
			ng-repeat="field in insertFields">
			<div class="col-lg-6">
				<input type="text" class="form-control" placeholder="Field"
					ng-model="field.field"
					ng-change="insertFieldChanged($index, field)" />
			</div>
			<div class="col-lg-6">
				<input type="text" class="form-control" placeholder="Value"
					ng-model="field.value"
					ng-change="insertFieldChanged($index, field)" />
			</div>
		</div>
		<service-footer service="insert"></service-footer>
	</fieldset>
</form>
<form class="service well">
	<fieldset>
		<legend>Update:</legend>
		<div class="row"
			ng-repeat="field in updateFields">
			<div class="col-lg-6">
				<input type="text" class="form-control" placeholder="Field"
					ng-model="field.field"
					ng-change="updateFieldChanged($index, field)" />
			</div>
			<div class="col-lg-6">
				<input type="text" class="form-control" placeholder="Value"
					ng-model="field.value"
					ng-change="updateFieldChanged($index, field)" />
			</div>
		</div>
		<service-footer service="update"></service-footer>
	</fieldset>
</form>
<form class="service well">
	<fieldset>
		<legend>Delete:</legend>
		<div class="row">
			<div class="col-lg-12">
				<input type="text" class="form-control" placeholder="ID"
					ng-model="del.data.id" />
			</div>
		</div>
		<service-footer service="del"></service-footer>
	</fieldset>
	
</form>